@page
@model IndexModel
@{
    ViewData["Title"] = "Adidas Shop";
}
<div>
    @await Component.InvokeAsync("Banner")
    <div class="container">
      <h1 class="fs-3 text-center">Danh sách sản phẩm !</h1>
        @if(Model.Products.Any())
    {
        <div class="row mt-5">
            @foreach(var product in Model.Products)
            {
            <div class="col-3">
                <div style="border : none" class="card">
                    <div class="card-image">
                        <a asp-route-id="@product.Id" asp-page="Products/Index" asp-area="">
                            <figure class="image is-square">
                                <img src="~/assets/@product.ImagePath">
                            </figure>
                        </a>
                    </div>
                    <div class="card-content pt-1 pl-0">
                         <p class="fs-5 fw-normal">@product.Name</p>
                        <p class="fs-5 fst-normal">@product.Price $</p>
                    </div>
                </div>
            </div>
            }
        </div>
    }
    </div>
</div>