@page "{orderId:Guid}"
@model SimpleShop.Web.Pages.Cart.SummaryModel
@{
    ViewData["Title"] = $"Đặt hàng #{Model.Order.Number}";
}

<div class="container has-text-centered">
    <div class="block">
            <span class="icon is-large">
                <i class='bx bx-receipt bx-lg'></i>
            </span>
        </div>
        <div>
            <p class="title has-text-weight-medium">Cảm ơn, @Model.Order.Details.FirstName!</p>
            <p class="subtitle">Đặt hàng #@Model.Order.Number đã được lưu.</p>
            <a class="button is-outlined" asp-area="" asp-page="/Orders/Index">My order</a>
        </div>
</div>
